.sidebar-contacts {
    &__icon {
        margin-right: 16px;
        margin-bottom: 16px;
    }

    &__item {
        position: relative;
        display: inline-block;
        transition: transform .3s;
        transform-origin: 50% 50%;

        &:hover,
        &:focus {
            outline: none;
            transform: translate(10px);
            animation: sidebar-contacts-animation 5s linear 2s infinite;
        }

        &::before,
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 15%;
            height: 1.5px;
            width: 0;
            background-color: #1B1C21;
            border-radius: 1px;
            transition: width .3s;
        }

        &:hover::before,
        &:focus::before {
            width: 70%;
            animation: sidebar-contacts-before-animation 5s linear 2s infinite;
        }

        &--mail {
            margin-bottom: 12px;
        }

        &--phone {
            margin-bottom: 8px;
        }
    }
}





