.global-layout {
    @media (min-width: 1439.98px) {
        display: flex;
        max-width: 1440px;
        margin: 0 auto;
    }   
    
    &__contant-container {
        @media (min-width: 1439.98px) {
            border-right: 1px solid #D9FFF5;
        }
    }

    &__blur-area {
        position: fixed;
        background-color: #fff;
        z-index: -1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: all .3s;
    
        &--active {
            z-index: 50;
            opacity: .9;
        }
    }
}


