.icon-button {
    padding: 0;
    border: 0;
    border-radius: 50%;
    background: none;
}

.icon-button__image {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
}

.icon-button__text {
    margin-right: 9px;
    margin-left: 32px;
}

 .icon-button:hover, .icon-link:focus {
    outline: none;
    transform: scale(1.1);
    box-shadow: 0 0 10px 3px #41F6D7;
} 
