.icon-button {
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
}

.icon-button__image {
    display: inline-block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
}

.icon-button__text {
    margin-right: 9px;
    margin-left: 32px;
}

 .icon-button:hover, 
 .icon-button:focus {
    outline: none;
    animation: icon-button-animation 1s linear infinite alternate forwards;
} 

.icon-button:active {
    outline: none;
}