.menu {
    overflow: scroll;
    margin-bottom: 24px;
    align-items: baseline;

    /* width: 100vw; */
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu__item {
    line-height: 40px;
    color: #7E7E82;
    text-decoration: none;
    box-sizing: border-box;
    height: 40px;
    white-space: nowrap; 
    margin-left: 22px;
    transition: all .5s, border-color 0s;
}

.menu__item--active:first-child {
    margin-left: 0;
}

.menu__item:not(.menu__item--active):hover, .menu__item:not(.menu__item--active):focus {
    outline: none;
    padding: 0 14px;
    border: 2px solid #B8FFEC;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 6px;
}

.menu__item--active:focus {
    outline: none;
}

.menu__item--active {
    padding: 0 16px;
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.menu__item--active + .menu__item {
    margin-left: 20px;
}

@media (min-width: 1119px) {

    .menu {
        flex-wrap: wrap;
        overflow: auto;
        width: 100%;
    }
}
