.price-list {
    height: 245px;

    @media (min-width: 767.98px) {
        height: auto;
    }

    &__header {
        @media (min-width: 767.98px) {
        }
    }

    &__header-item {
        line-height: 16px;
        margin-bottom: 4px
    }

    &__body {
        @media (min-width: 767.98px) {
            display: flex;
            flex-direction: column;
            padding: 0 16px;
            background-color: #fff;
            border-radius: 6px;
        }
    }

    &__item-container {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 260px;
        height: 200px;

        @media (min-width: 767.98px) {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            box-sizing: border-box;
            width: 100%;
            height: auto;
            padding: 16px 0;
            border: none;
            border-bottom: 1px solid#EAEAEA;
            border-radius: 0;
        }

        &:last-child {
            @media (min-width: 767.98px) {
                border-bottom: none;
            }
        }

        &--header {
            padding: 16px;
            display: none;

            @media (min-width: 767.98px) {
                display: flex;
                border-bottom: none;
            }
        }
    }

    &__item-block {
        box-sizing: border-box;
        margin-bottom: 16px;
        letter-spacing: 0.2px;

        &--header {
            line-height: 16px;
            margin-bottom: 4px
        }

        @media (min-width: 767.98px) {
            margin: 0;
            padding-right: 12px;
        }

        &:first-child {
            @media (min-width: 767.98px) {
                flex-basis: 53%;
            }
        }

        &:nth-child(2) {
            @media (min-width: 767.98px) {
                flex-basis: 13.5%;
            }
        }

        &:nth-child(3) {
            @media (min-width: 767.98px) {
                flex-basis: 14%;
            }
        }
    }

    &__empty-cell {
        visibility: hidden;
        box-sizing: border-box;
        width: 119px;
        height: 16px;
    }

    &__button-order {
        position: absolute;
        left: 48%;
        top: 78%;

        @media (min-width: 767.98px) {
            position: static;
        }
    }
}
