.price-table {
    height: 245px;

    @media (min-width: 767.98px) {
        box-sizing: border-box;
        display: table;
        height: auto;
        width: 100%;
        max-height: none;
    }

    &__column {
        @media (min-width: 767.98px) {
            display: table-column;
        } 
    }

    &__table-header {
        @media (min-width: 767.98px) {
            display: table-header-group;
        }
    }

    &__table-body {
        display: table-row-group;
        border-radius: 20px;
    }

    &__row {
        position: relative;
        width: 260px;
        height: 200px;
        display: flex;
        flex-direction: column;

        @media (min-width: 767.98px) {
            display: table-row;
            box-sizing: border-box;
            width: 100%;
            height: 64px;
        }
    }

    &__cell {
        margin-bottom: 16px;

        @media (min-width: 767.98px) {
            display: table-cell;
            border-bottom: 1px solid black;
            vertical-align: middle;
            padding: 16px;
        }
    }

    &__button-order {
        position: absolute;
        left: 48%;
        top: 78%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        width: 119px;
        height: 32px;
        padding: 4px 8px 4px 12px;
        border-radius: 16px;
        border: none;
        background-color: #FF3E79;
        color: #fff;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 700;
        transition: all 0.3s;

        @media (min-width: 767.98px) {
            position: static;
            margin: 16px;
        }

        &:hover, 
        &:focus {
            outline: none;
            background-color: #ffe0e9;
            color: #FF3E79;
        }
    }

    &__button-icon {
        position: relative;
        height: 24px;
        width: 24px;
        border-radius: 50%;
        background-color: #FF3E79;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 7px;
            height: 9.5px;
            background-image: url(../../src/img/dropdown-small.svg);
        }
    }

    &__cell-caption {
        line-height: 16px;
        margin-bottom: 4px;
    }
}
