.header {
    background: #FFFFFF;
    height: 88px;
}

.header__button {
    margin: auto 16px auto 0;
}

.header__button:last-child {
    margin-right: 0;
}

.header__logo {
    width: 97px;
    height: 51px;
    margin: auto;
    margin-left: 0;
}

.header__separation {
    box-sizing: border-box;
    width: 2px;
    height: 32px;
    margin: auto 20px auto 4px;
    background-color: #EAEAEA;
    border: 1px solid #EAEAEA;
    border-radius: 1px;
}

@media (min-width: 1119px) {
   
    .header {
        display: none;
    }
}