.button-more {
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
    transition: all .5s;
}

.button-more::before {
    content: "";
    display: inline-block;
    width: 8px;
    height: 11px;
    background-image: url(../img/icons/icon_more.svg);
    margin-right: 16px;
}

.button-more:hover,
.button-more:focus {
    outline: none;
    transform: translateY(-6px) scale(1.05);
    filter: drop-shadow(0 0  2px #41F6D7);
}

.button-more:active {
    outline: none;
}

.button-more__control-element {
    transition: height 1s;
}

.button-more--close::before {
    transform: rotate(180deg);
}