.section {
    &__title-container {
        padding: 16px 0;
        background-image: linear-gradient(90deg, $main-background-color 0%, #FFFFFF 98.61%);
        border-top: 1px solid$section-separator-color;
        ;
    }

    &__title {
        text-transform: uppercase;
        font-weight: normal !important;
        margin: 0;
    }

    &__content {
        padding: 16px 0;

        @media (min-width: 767.98px) {
            padding-bottom: 32px;
        }

        @media (min-width: 1119.98px) {
            padding-bottom: 50px;
        }
    }

    &__items {
        width: 100%;
        height: 115px;

        @media (min-width: 767.98px)  {
            height: auto;
            max-height: 176px;
            overflow: hidden;   
        }

        &--big {
            min-height: 205px;

            @media (min-width: 767.98px)  {
                min-height: 176px; 
            }
        }
    }

    &__items-wrapper {

            @media (min-width: 767.98px) {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -12px;
        }

        @media (min-width: 1119.98px) {
            margin: 0 -16px;
        }
    }

    &__item {
        width: 240px;
        height: 72px;

        @media (min-width: 767.98px)  {
            width: calc(100%/3 - 24px);
            margin: 8px 12px;
        }

        @media (min-width: 1119.98px) {
            width: calc(100%/4 - 32px);
            margin: 8px 16px;
        }

        &--big {
            height: 160px;
        }
    }

    &__item-link {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        text-decoration: none;

        &:hover,
        &:focus {
            outline: none;
        }

        &--big {
            align-items: flex-end;
        }
    }

    &__item-text {
        align-self: flex-start;
        text-decoration: none;
    }

    &__item-icon {
        box-sizing: border-box;
        position: relative;
        width: 40px;
        height: 40px;
        border: 2px solid $button-background-color;
        border-radius: 50%;
        transition: all 0.3s;

        &::after {
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 7.5px;
            height: 12px;
            background-image: url(../../src/img/dropdown.png);
        }
    }

    &__button {
        display: none;

        @media (min-width: 767.98px) {
            display: block;
            margin-top: 16px;
        }
    }

    &__conditions {
        margin: 0;
        margin-bottom: 16px;
        line-height: 20px;
        letter-spacing: 0.2px;

        @media (min-width: 767.98px) {
            width: 421px;
            margin-top: 24px;
        }
    }

    &__link-get-price {
        position: relative;
        transition: color .3s;

        &:hover,
        &:focus {
            outline: none;
            color: $button-background-color;
        }

        &::after {
            content: "";
            position: absolute;
            right: -15px;
            bottom: 4px;
            display: block;
            width: 7.5px;
            height: 12px;
            background-image: url(../../src/img/dropdown.png);
        }
    }
}

.section__item-link:hover .section__item-icon,
.section__item-link:focus .section__item-icon {
    border: none;
    background-color: $button-background-focus-color;
}
