@keyframes icon-button-animation {
    to {
        transform: scale(1.1);
        filter: drop-shadow(0 0 5px #41F6D7);
    }
}

@keyframes sidebar-contacts-color {
    to {
        color: #FF3E79;
    }
}

@keyframes sidebar-contacts-animation {
    0%, 21%, 100% {
        transform: rotate(0) translate(10px);
        color: #1B1C21;
    }
    7% {
        transform: rotate(-5deg)  translate(10px);
        color: #FF3E79;
    }
    14% {
        transform: rotate(5deg) translate(10px);
        color: #FF3E79
    }
}

@keyframes sidebar-contacts-before-animation {
    0%, 21%, 100% {
        background-color: #1B1C21;
    }
    7%, 14% {
        background-color: #FF3E79;
    }
}