.menu {
    overflow: scroll;
    margin-bottom: 24px;
    /* width: 100vw; */
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu__item {
    box-sizing: border-box;
    height: 40px;
    padding: 8px 0;
    text-decoration: none;
    margin-left: 22px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    white-space: nowrap;
    transition: all .5s, border-color 0s;
}

.menu__item--active:first-child {
    margin-left: 0;
}

.menu__item:not(.menu__item--active):hover, 
.menu__item:not(.menu__item--active):focus {
    outline: none;
    padding: 6px 14px;
    border: 2px solid #B8FFEC;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 6px;
}

.menu__item--active:focus {
    outline: none;
}

.menu__item--active {
    padding: 6px 16px;
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.menu__item--active + .menu__item {
    margin-left: 20px;
}

@media (min-width: 1119px) {

    .menu {
        flex-wrap: wrap;
        overflow: auto;
        width: 100%;
    }
}
