.menu {
    display: flex;
    overflow: scroll;
    margin-bottom: 24px;

    /* width: 100vw; */
}

.menu::-webkit-scrollbar {
    display: none;
}

.menu__item {
    color: #7E7E82;
    line-height: 40px;
    text-decoration:none;
    box-sizing: border-box;
    height: 40px;
    white-space: nowrap; 
    margin-left: 22px;
}

.menu__item--active:first-child {
    margin-left: 0;
}

.menu__item--active {
    padding: 0 16px;
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

@media (min-width: 1119px) {

    .menu {
        flex-wrap: wrap;
        overflow: auto;
        width: 100%;
    }
}
