$main-background-color: #F8F8F8;
$focus-active-color: #41F6D7;
$focus-sidebar-item-color: lightgreen;
$button-background-color: #FF3E79;
$button-background-focus-color: #ffe0e9;
$white-color: #fff;
$section-separator-color: #D9FFF5;
$item-separator-color: #EAEAEA;
$sidebar-shadow-color: #7E7E82;
$input-placeholder-color: #B5B6BC;
$underline-contacts-color: #1B1C21;
$pagination-slider-color: #DDDDDD;

html,
body  {
    background-color: $main-background-color;
    margin: 0;
    min-width: 320px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    scroll-behavior: smooth;  
}

.body-open-sidebar {
    height: 100vh;
    overflow-y: hidden;
}

.flex-container {
    display: flex;
}

.menu-button {
    @media (min-width: 1439.98px) {
        display: none;
    }
}

.view-on-tablet {
    display: none;

    @media (min-width: 767.98px) {
        display: block;            
    }  
} 

.view-on-desktop {
    display: none;

    @media (min-width: 1119.98px) {
        display: block;
    }
}

.view-on-mobile {
    display: block;

    @media (min-width: 767.98px) {
        display: none;
    }
}

@import url(../fonts/TTLakes/TTLakes.css);
@import '../../node_modules/swiper/swiper-bundle.min.css';
@import 'container';
@import 'text';
@import 'global-layout';
@import 'button-order';
@import 'about';
@import 'slider-mobile';
@import 'button-more';
@import 'header';
@import 'icon-button';
@import 'menu';
@import 'section';
@import 'price-list';
@import 'sidebar';
@import 'sidebar-contacts';
@import 'lang';
@import 'footer';
@import 'modal-window';

